{% include 'pagerMacros.html' %}

{# To render full descriptions: renderGroups(items, slug, { full: true } ) #}
{# To render compact links to groups: renderGroups(items, slug) #}

{% macro renderGroups(items, pageUrl, options = {}) %}
  {% if items %}
    {% for item in items %}
      {{ renderGroup(item, pageUrl, options) }}
    {% endfor %}
  {% else %}
    <h4>There are no suitable groups at the moment.</h4>
  {% endif %}
{% endmacro %}

{% macro renderGroup(item, pageUrl, options = {}) %}
  <div class="apos-group">
    <div class="apos-thumbnail">
      {{ aposSingleton({ slug: item.slug + ':thumbnail', type: 'slideshow', area: item.areas.thumbnail, edit: false, size: 'one-sixth' }) }}
    </div>
    <div class="apos-group-heading">
      <h4><a href="{{ pageUrl }}/{{ item.slug }}">{{ item.title | e }}</a></h4>
    </div>
    {% if options.full %}
      <div class="apos-group-body">{{ aposArea({ area: item.areas.body }) }}</div>
        {% if item.tags %}
          <div class="apos-group-tags">
            See also:
            {% for tag in item.tags %}
              <a href="{{ pageUrl | build({ tag: tag }) }}">{{ tag | e }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if (item._people) %}
        <ul class="apos-group-people">
          {% for person in item._people %}
            <li class="apos-group-person">
              <a href="{{ pageUrl }}/{{ item.slug }}/{{ person.slug }}">
                {{ person.title | e }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{# To render full bio: renderPerson(item, page.url, { full: true } ) #}
{# To render compact: renderPerson(item, page.url) #}

{% macro renderPerson(item, pageUrl, options = {}) %}
  <div class="apos-person">
    <div class="apos-thumbnail">
      {{ aposSingleton({ slug: item.slug + ':thumbnail', type: 'slideshow', area: item.areas.thumbnail, edit: false, size: 'one-sixth' }) }}
    </div>
    <div class="apos-person-heading">
      <h4>
        {% if item._groups %}
          <a href="{{ pageUrl }}/{{ item._groups[0].slug }}/{{ item.slug }}">
        {% endif %}
        {{ item.title | e }}
        {% if item._groups %}
          </a>
        {% endif %}
      </h4>
    </div>
    {% if options.full %}
      <div class="apos-person-body">{{ aposArea({ area: item.areas.body }) }}</div>
        {# People can have both group memberships and tags #}
        {% if item._groups %}
          <div class="apos-person-groups">
            Affiliated with:
            {% for group in item._groups %}
              <a href="{{ group.url }}">{{ group.title | e }}</a>
            {% endfor %}
          </div>
        {% endif %}
        {% if item.tags %}
          <div class="apos-person-tags">
            See also:
            {% for tag in item.tags %}
              <a href="{{ pageUrl | build({ tag: tag }) }}">{{ tag | e }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

