{# To render full bio: renderPeople(people, { full: true } ) #}
{# To render compact: renderPeople(people) #}

{% macro renderPeople(people, options = {}) %}
  {% for person in people %}
    {{ renderPerson(person, options) }}
  {% endfor %}
{% endmacro %}

{# To render full bio: renderPerson(person, { full: true } ) #}
{# To render compact: renderPerson(person) #}

{% macro renderPerson(person, options = {}) %}
  <div class="apos-person">
    <div class="apos-thumbnail">
      {{ aposSingleton({ slug: person.slug + ':thumbnail', type: 'slideshow', area: person.areas.thumbnail, edit: false, size: 'one-sixth' }) }}
    </div>
    <div class="apos-person-heading">
      <h4>
        <a href="{{ person.url }}">
          {{ person.title | e }}
        </a>
      </h4>
    </div>
    {% if options.full %}
      <div class="apos-person-body">{{ aposArea({ area: person.areas.body }) }}</div>
      {% if person._groups %}
        <div class="apos-person-groups">
          Affiliated with:
          {% for group in person._groups %}
            <a href="{{ group.url }}">{{ group.title | e }}</a>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{# To render full descriptions: renderGroups(items, { full: true } ) #}
{# To render compact links to groups: renderGroups(items) #}

{% macro renderGroups(items, options = {}) %}
  {% if items %}
    {% for item in items %}
      {{ renderGroup(item, options) }}
    {% endfor %}
  {% else %}
    <h4>There are no suitable groups at the moment.</h4>
  {% endif %}
{% endmacro %}

{# To render full description: renderGroup(group, { full: true } ) #}

{# To render compact: renderGroup(group) #}

{# To render full descriptions of the people as well: #}
{# renderGroup(group, { full: true, { person: { full: true } } }) #}

{# That last only works if you actually have the people joined to the group, which generally #}
{# won't be true unless you retrieved only one group. #}

{% macro renderGroup(group, options = {}) %}
  <div class="apos-group">
    <div class="apos-thumbnail">
      {{ aposSingleton({ slug: group.slug + ':thumbnail', type: 'slideshow', area: group.areas.thumbnail, edit: false, size: 'one-sixth' }) }}
    </div>
    <div class="apos-group-heading">
      <h4><a href="{{ group.url }}">{{ group.title | e }}</a></h4>
    </div>
    {% if options.full %}
      <div class="apos-group-body">{{ aposArea({ area: group.areas.body }) }}</div>
      {% if (group._people) %}
        <div class="apos-people">
          {{ renderPeople(group._people, options.person) }}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

