{% include 'pagerMacros.html' %}

{# To render full descriptions: renderGroups(items, slug, { full: true } ) #}
{# To render compact links to groups: renderGroups(items, slug) #}

{% macro renderGroups(items, pageUrl, options = {}) %}
  {% if items %}
    {% for item in items %}
      {{ renderGroup(item, pageUrl, options) }}
    {% endfor %}
  {% else %}
    <h4>There are no suitable groups at the moment.</h4>
  {% endif %}
{% endmacro %}

{% macro renderGroup(item, pageUrl, options = {}) %}
  <div class="apos-group">
    <div class="apos-thumbnail">
      {{ aposSingleton({ slug: item.slug + ':thumbnail', type: 'slideshow', area: item.areas.thumbnail, edit: false, size: 'one-sixth' }) }}
    </div>
    <div class="apos-group-heading">
      <h4><a href="{{ pageUrl }}/{{ item.slug }}">{{ item.title | e }}</a></h4>
    </div>
    {% if options.full %}
      <div class="apos-group-body">{{ aposArea({ area: item.areas.body }) }}</div>
        {% if item.tags %}
          <div class="apos-group-tags">
            See also:
            {% for tag in item.tags %}
              <a href="{{ pageUrl | build({ tag: tag }) }}">{{ tag | e }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if (item._people) %}
        <ul class="apos-group-people">
          {% for person in item._people %}
            {{ aposLog()}}
            <li class="apos-group-person">
              {% if person.url %}<a href="{{ person.url | e }}"></a>{% endif %}
              {{ person.title | e }}
              {% if person.url %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

