{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-people"></i> Groups</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-snippet-button apos-new-group-button" data-new-group>New Group</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-group-button" data-manage-group>Manage Groups</li>
    </ul>
  </li>
</ul>

{% endif %}
