{% extends 'newBase.html' %}
{% include 'snippetMacros.html' %}

{% block insideForm %}

  {{ snippetAllFields(fields, { before: 'thumbnail' }) }}

  {% for permission in type.permissions %}
    {{ formBoolean(permission.value, permission.label) }}
  {% endfor %}

  {{ snippetSelective('people', __('People'), {
    placeholder: __('Type Name Here'),
    extras: [
      {
        name: 'jobTitle',
        label: __('Job Title'),
        type: 'text'
      }
    }
  }) }}

  {{ snippetAllFields(fields, { from: 'thumbnail' }) }}

{% endblock %}

