{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-group{% endblock %}">
  <h3>{% block label %}New Group{% endblock %}</h3>
  {% block topButtons %}
  {% endblock %}
  <div class="apos-modal-body">
    <form>
      {# title is universal across all snippets and should be the group's name #}
      {{ snippetText('title', 'Name') }}

      {# TODO customize this as radio buttons, there will be a small #}
      {# number of choices available, for now a comma-separated list #}
      {{ snippetText('permissions', 'Permissions') }}

      {{ snippetSelective('people', 'People') }}

      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}

      {{ snippetBoolean('published', 'Published') }}
      {# The real work for these is in main.js, just get placeholders into the form #}
      {{ snippetSingleton('thumbnail', 'Thumbnail') }}
      {{ snippetArea('body', 'About') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
