{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-group{% endblock %}">
  <h3>{% block label %}New Group{% endblock %}</h3>
  {% block topButtons %}
  {% endblock %}
  <div class="apos-modal-body">
    <form>
      {# title is universal across all snippets and should be the group's name #}
      {{ snippetText('title', 'Name') }}

      {# TODO it would be nice to have hints to indicate when permissions are mutually #}
      {# exclusive so that the interface could be a select element but let's start with #}
      {# something that works in the more general case too #}

      {% for permission in type.permissions %}
        {{ formBoolean(permission.value, permission.label) }}
      {% endfor %}

      {{ snippetSelective('people', 'People') }}

      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}

      {{ snippetBoolean('published', 'Published') }}
      {# The real work for these is in main.js, just get placeholders into the form #}
      {{ snippetSingleton('thumbnail', 'Thumbnail') }}
      {{ snippetArea('body', 'About') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
