{% extends "layout.html" %}

{% include "directoryMacros.html" %}

{% block bodyClass %}{{ super() }} apos-group-page{% endblock %}

{% block extraBreadcrumbs %}
  <li><a href="{{ page.url }}">{{ page.title | e }}</a></li>
  <li>&nbsp;/&nbsp;<a href="{{ page.url }}/{{ item.slug }}">{{ item.title | e }}</a></li>
  <li>&nbsp;/&nbsp;{{ person.title | e }}</li>
{% endblock %}

{% block mainContent %}
  <div class="column apos-area-sidebar">
    {{ aposArea({ slug: slug + ":sidebar", area: page.areas.sidebar, edit: edit }) }}
  </div>

  <div class="column-2 apos-person">
    {{ renderPerson(person, page.url, { full: true }) }}
  </div>

{% endblock %}
