{% extends "layout.html" %}

{% include "groupMacros.html" %}

{% block bodyClass %}{{ super() }} apos-group-page{% endblock %}

{% block extraBreadcrumbs %}
  <li><a href="{{ page.url }}">{{ page.title | e }}</a></li>
  <li>&nbsp;/&nbsp;{{ item.name | e }}</li>
{% endblock %}

{% block mainContent %}
  <div class="column apos-area-sidebar">
    {{ aposArea({ slug: slug + ":sidebar", area: page.areas.sidebar, edit: edit }) }}
  </div>

  <div class="column-2 blog-people">
    {{ renderGroup(item, page.url, { full: true }) }}
  </div>

{% endblock %}
